@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

*{
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	overflow-x: hidden;
}

h1 {
	font-size: 50px;
}

header  {
  font-family: 'Indie Flower', cursive;
  height: 90px;
}

nav {
  height: 100%;
  padding: 0 50px;
  font-size: 13px;
  background: rgb(255, 172, 51);
}

.menu {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
.menu li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  padding: 15px 20px;
  transition: all 0.2s;
  cursor: pointer;
}
.menu li:hover:first-child,
.menu li:hover:last-child {
  color: rgba(255, 87, 34, 0.85);
}
.menu li:last-child{
  float: right;
}
.menu li .sub-menu {
  padding: 0;
  position: absolute;
  top: 44px;
  left: 0;
  width: 150px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
}
.menu li .sub-menu li {
  background: #666;
  display: block;
  color: #fff;
}
.menu li
.sub-menu li:hover {
  background: #607d8b;
  opacity: 1;
}
.menu li:hover
.sub-menu {
  background: #666;
  display: block;
  opacity: 0.7;
  visibility: visible;
}
/*Buscar*/
.searchbar {
  width: 100%;
  height: 20px;
  border: 5px solid rgba(158, 158, 158, 0.45);
  padding: 10px;
  border-radius: 5px;
  outline: none;
}
/* social bar*/
.social-bar{
	width: 20px;
  position: fixed;
  left: 0;
  top: 35%;
  font-size: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
	-webkit-transition: width 0.5s;
	transition: width 0.7s;
}

i{
  text-decoration: none;
  padding: 20px;
  display: flex;
  transition: all .5s;
}
.icon-twitter,
.icon-facebook,
.icon-instagram{
  background-color: #bdbdbd;
}

.icon-twitter:hover{
  color: #339DC5;
}
.icon-facebook:hover{
  color: #2E406E;
}
.icon-instagram:hover{
  color: #3F60A5;
}

.icon:firs-child{
  border-radius: 1rem 0 0 0;
}
.icon:last-child{
  border-radius: 0 0 0 1rem;
}
/* Modal */
.modal{
  display: none;
  position: fixed;
  background-image: url("../img/fond-thriller.jpg");
  background-repeat: no-repeat;
  padding-top: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  z-index: 1000;
}

.mod-img img{
  width: 500px;
  max-width: 100%;
  border: 7px solid #fff;
}

.mod-img .cerrar{
  border: none;
  width: 20px;
  position: absolute;
}
/* Video */
#cont-video{
  width: 100%;
  height: 560px;
	overflow: hidden;
}

#cont-video span{
  font-size: 1.5rem;
  color: white;
}
#cont-video video{
  width: 100%;
  height: 730px;
}

/*Galery*/
.filter {
	cursor: pointer;
}

article {
	font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 772px;
  background-image: url(../img/cinema.jpg);
  text-align: center;
  background-size: cover;
}

article ul {
  margin: 20px 0;
}

article ul li a{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
}

.grid{
  position: relative;
  width: 18%;
	display: inline-block;
	text-align: center;
}
.grid img {
  display: block;
  width: 100%;
}
.transition {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(43, 46, 47, 0.70);
  overflow: hidden;
  width: 100%;
	padding: 5px;
  height:0;
  transition: .5s ease;
}
.grid:hover .transition {
  bottom: 0;
  height: 100%;
}
.text {
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content-dragover {
	width: 0;
	height: 165px;
	background-color: rgba(255, 255, 255,0.4);
	float: right;
	-webkit-transition: width 0.5s;
	transition: width 0.7s;
	z-index: 2000;
	box-sizing: border-box;
}

#content-dragover p {
	font-size: 16px;
	position: relative;
	bottom: 0
}

#dragover {
	width: 194px;
	height: 149px;
	position: absolute;
	margin-top: 50px;
}

/* carusel*/
.categories {
	text-align: center;
	margin: 0 auto;
	padding: 70px 0;
}

ul, li {
	text-decoration: none;
	display: inline-block;
}

ul #myMovies {
	padding: 0;
	margin: 0;
  -moz-perspective: 780px;
	-webkit-perspective: 780px;
	perspective: 780px;
	background-color: transparent;
}

#myMovies li a {
  display: block;
  width: 100%;
  height: 100%;
}

#myMovies li {
  text-indent: -9999px;
  position: relative;
  display: inline-block;
  width: 225px;
  height: 357px;
  margin-right: -70px;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 50;
  -moz-transform: rotateY(45deg);
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
  -moz-transition: all .45s;
  -webkit-transition: all .45s;
  transition: all .45s;
  opacity: .8;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4), 0 0 30px rgba(0,0,0,0.2);
}

ul#myMovies li:last-child { z-index: 45; }

ul#myMovies li.highlighted {
  -moz-transform: rotateY(0deg) scale(1.2);
  -webkit-transform: rotateY(0deg) scale(1.2);
  transform: rotateY(0deg) scale(1.2);
  z-index: 55!important;
	margin-bottom: -350px;
}

ul#myMovies .highlighted ~ li {
  -moz-transform: rotateY(-45deg);
  -webkit-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}

ul#myMovies li:hover,
ul#myMovies li:first-child:hover,
ul#myMovies li.highlighted ~ li:hover { z-index: 60!important; }

ul#myMovies li:hover {
  -moz-transform: rotateY(0deg) scale(1.2);
  -webkit-transform: rotateY(0deg) scale(1.2);
  transform: rotateY(0deg) scale(1.2);
  opacity: 1;
}

ul#myMovies li:hover ~ li {
  -moz-transform: rotateY(-45deg);
  -webkit-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}

ul#myMovies:hover li:not(:hover) {
  -moz-transform: rotateY(45deg);
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
}

ul#myMovies:hover li:hover ~ li {
  -moz-transform: rotateY(-45deg);
  -webkit-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}

ul#myMovies:not(:hover) li.highlighted { opacity: 1; }

ul#myMovies li:after {
  content: "";
  width: 200px;
  height: 20px;
  background: rgba(255,255,255,.5);
  position: absolute;
  bottom: -20px;
  left: 0;
  -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,.5)), to(rgba(0,0,0,0)));
}

ul#myMovies li:nth-child(1) {
	background-image: url(../img/movies/el-renacido.jpg);
	background-size: cover;
}

ul#myMovies li:nth-child(2) {
	background-image: url(../img/movies/sing.jpg);
	background-size: cover;
}

ul#myMovies li:nth-child(3) {
	background-image: url(../img/movies/robert.jpg);
	background-size: cover;
}

footer{
  background-color: rgba(43, 46, 47, 0.86);
  font-family: monospace;
  text-align: center;
  font-size: 14px;
  color: white;
  width: 100%;
  height: 50px;
  bottom: 0;
  position: relative;
}

footer p{
  margin: auto;
  padding-top: 20px;
}
