*{
	margin: 0;
	padding: 0;
}
nav {
  padding: 20px 50px;
  font-size: 13px;
  text-align: center;
  background: #607d8b;
}

.menu {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
.menu li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  transition: all 0.2s;
  cursor: pointer;
}
.menu li:hover {
  background: #555;
  color: #fff;
}
.menu li .sub-menu {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
}
.menu li .sub-menu li {
  background: #607d8b;
  display: block;
  color: white;
  text-shadow: 0 -1px 0 #000;
}
.menu li
.sub-menu li:hover {
  background: #666;
}
.menu li:hover
.sub-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}
/* social bar*/
.social-bar{
	position: fixed;
	left: 0;
	top: 35%;
	font-size: 20px;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

i{
	text-decoration: none;
	padding: 20px;
	display: flex;
	transition: all .5s;
}
.icon-twitter,
.icon-facebook,
.icon-instagram{
	background-color: #bdbdbd;
}

.icon-twitter:hover{
	color: #339DC5;
}
.icon-facebook:hover{
	color: #2E406E;
}
.icon-instagram:hover{
	color: #3F60A5;
}

.icon:firs-child{
	border-radius: 1rem 0 0 0;
}
.icon:last-child{
	border-radius: 0 0 0 1rem;
}
/* grid */
.grid{
  position: relative;
  width: 50%;
}

.grid img {
  display: block;
  width: 100%;
  height: auto;
}

.transition {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(43, 46, 47, 0.70);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.grid:hover .transition {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* carusel*/
.categories {
	text-align: center;
	margin: 30px auto;
}

ul, li {
	text-decoration: none;
	display: inline-block;
}

ul #menu {
	padding: 0;
	margin: 0;
  -moz-perspective: 780px;
	-webkit-perspective: 780px;
	perspective: 780px;
	background-color: transparent;
}

#menu li a {
  display: block;
  width: 100%;
  height: 100%;
}

#menu li {
  text-indent: -9999px;
  position: relative;
  display: inline-block;
  width: 225px;
  height: 357px;
  margin-right: -70px;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 50;
  -moz-transform: rotateY(45deg);
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
  -moz-transition: all .45s;
  -webkit-transition: all .45s;
  transition: all .45s;
  opacity: .8;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4), 0 0 30px rgba(0,0,0,0.2);
}

ul#menu li:last-child { z-index: 45; }

ul#menu li.highlighted {
  -moz-transform: rotateY(0deg) scale(1.2);
  -webkit-transform: rotateY(0deg) scale(1.2);
  transform: rotateY(0deg) scale(1.2);
  z-index: 55!important;
	margin-bottom: -350px;
}

ul#menu .highlighted ~ li {
  -moz-transform: rotateY(-45deg);
  -webkit-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}

ul#menu li:hover,
ul#menu li:first-child:hover,
ul#menu li.highlighted ~ li:hover { z-index: 60!important; }

ul#menu li:hover {
  -moz-transform: rotateY(0deg) scale(1.2);
  -webkit-transform: rotateY(0deg) scale(1.2);
  transform: rotateY(0deg) scale(1.2);
  opacity: 1;
}

ul#menu li:hover ~ li {
  -moz-transform: rotateY(-45deg);
  -webkit-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}

ul#menu:hover li:not(:hover) {
  -moz-transform: rotateY(45deg);
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
}

ul#menu:hover li:hover ~ li {
  -moz-transform: rotateY(-45deg);
  -webkit-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}

ul#menu:not(:hover) li.highlighted { opacity: 1; }

ul#menu li:after {
  content: "";
  width: 200px;
  height: 20px;
  background: rgba(255,255,255,.5);
  position: absolute;
  bottom: -20px;
  left: 0;
  -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,.5)), to(rgba(0,0,0,0)));
}

ul#menu li:nth-child(1) {
	background-image: url(../img/accion-3.jpg);
	background-size: cover;
}

ul#menu li:nth-child(2) {
	background-image: url(../img/infantil-1.jpg);
	background-size: cover;
}

ul#menu li:nth-child(3) {
	background-image: url(../img/terror-1.jpg);
	background-size: cover;
}

/* grid */
.gallery{
	text-align: center;
	margin: 60px auto;
}

.gallery ul {
	margin: 30px 0;
}

.grid{
  position: relative;
  width: 25%;
	display: inline-block;
	text-align: center;
}
.grid img {
  display: block;
  width: 100%;
  height: auto;
}
.transition {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(43, 46, 47, 0.70);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.grid:hover .transition {
  bottom: 0;
  height: 100%;
}
.text {
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
